@using CakeZone.EntityFramework.Entities;
@model FillingModel
@{
    ViewData["Title"] = "Filling";
    Layout = "_Layout";
}
<h1>Filling</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="FillingId" type="hidden" value="0" class="form-control" />
                <span asp-validation-for="FillingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FillingType" class="control-label"></label>
                <input asp-for="FillingType" class="form-control" />
                <span asp-validation-for="FillingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FillingDescription" class="control-label"></label>
                <input asp-for="FillingDescription" class="form-control" />
                <span asp-validation-for="FillingDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
