@{
    ViewData["Title"] = "Home Page";
}
<style>
    .full-width-image {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
</style>

<div class="full-width-image">
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-light mb-4">CakeZone</h1>
                <h1 class="text-uppercase text-light">The Best Cakes</h1>
                <h1 class="text-uppercase text-light">Find Here</h1>

                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">                   
                    <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">About Us</h2>
            <h1 class="display-4 text-uppercase">Welcome To CakeZone</h1>
        </div>
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://wallpapersmug.com/download/3840x2400/26150f/cake-dessert.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4">A cake shop is a delightful haven for dessert enthusiasts and celebrators of all occasions. </h4>
                <p class="mb-5">At Cake Zone, our journey is a sweet tale of passion, creativity, and a deep love for all things cake.
                    Founded 2004, we have been dedicated to crafting exceptional confections that delight
                    the senses and celebrate life's special moments. Our team of skilled bakers and artists pours heart and soul
                    into every cake we create, ensuring that each bite is a symphony of flavors and a work of edible art. </p>
                <div class="row g-5">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-heartbeat fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">100% Healthy</h4>
                        <p class="mb-0">At Cake Zone, say goodbye to compromise and hello to healthy.
                            Our commitment to health doesn't stop at ingredients; it's a philosophy that runs deep in every layer and frosting. 
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-award fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">Award Winning</h4>
                        <p class="mb-0">We are thrilled and honored to announce that [Company Name] has been awarded the prestigious "BUTTERCREAM AWARD" for demonstrating 
                            exceptional skills in buttercream. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

